i:hover {
    transform: scale(1.2);
}

#login-btn:hover {
    transform: scale(1.2);
}

#forget-password-btn:hover {
    transform: scale(1.2);
}

#logo:hover {
    transform: scale(1.2);
}

#title-pic:hover {
    transform: scale(1.1);
}