<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dr.Office</title>
        <meta name="description" content>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            href="/static/bootstrap/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <link rel="stylesheet"
            href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/hover.css">
        <link rel="stylesheet" href="/static/css/common.css">
        <script
            src="/static/bootstrap/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="/static/js/helper.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                    id="navbarTogglerDemo01">
                    <div>
                        <a href="/">
                            <img src="/static/images/title_pic_zoom.jpg"
                                class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                                id="logo" alt="profile">
                        </a>
                    </div>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active"
                                data-bs-toggle="modal"
                                data-bs-target="#addPatientModal"
                                aria-current="page"
                                href="#">
                                <i class="fa fa-plus-circle fa-2x"
                                    aria-hidden="true"></i>
                            </a>
                        </li>
                        <form method="GET" action="/search" class="d-flex">
                            <input class="form-control me-2" type="search"
                                id="searchInput"
                                placeholder="Введіть ім'я" name="fullName"
                                aria-label="Search">
                            <button class="btn btn-outline-dark"
                                id="searchButton"
                                type="submit">Знайти</button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>ПІБ</th>
                        <th>Зуби</th>
                        <th>Маніпуляція</th>
                        <th>Ціна</th>
                        <th>Коментар</th>
                        <th>Мова</th>
                        <th>Дата</th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                    <tr>
                        <td>{{ patient['fullname'] }}</td>
                        <td>{{ patient['teeth'] }}</td>
                        <td>{{ patient['actions'] }}</td>
                        <td>{{ patient['price'] }}</td>
                        <td>{{ patient['comment'] }}</td>
                        <td><img class="countryFlag"
                                src="/static/svg/{{ patient['lang_svg'] }}.svg"
                                alt="img" /></td>
                        <td>{{ patient['date'] }}</td>
                        <td>
                            <a href="/delete/{{ patient['id'] }}"><i
                                    class="fa fa-trash-o"
                                    aria-hidden="true"></i></a>
                            <a href="/update/{{ patient['id'] }}"><i
                                    class="fa fa-pencil"
                                    aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="page-container">
            <div>
                {% if current_page - 1 <= 0 %}
                <a href="/search/page/{{ current_page - 1}}?fullName={{ full_name }}" class="disabled"><i
                        class="fa fa-arrow-left"
                        aria-hidden="true"></i>
                </a>
                {% else %}
                <a href="/search/page/{{ current_page - 1}}?fullName={{ full_name }}"><i
                        class="fa fa-arrow-left"
                        aria-hidden="true"></i>
                </a>
                {% endif %}
            </div>
            <div>
                {% if total_pages == 0 %}
                    <span>Пацієнтів немає.</span>
                {% else %}
                    {{ current_page }}
                {% endif %}
            </div>
            <div>
                {% if current_page + 1 <= total_pages %}
                <a href="/search/page/{{ current_page + 1}}?fullName={{ full_name }}"><i
                        class="fa fa-arrow-right"
                        aria-hidden="true"></i></a>
                {% else %}
                <a href="/search/page/{{ current_page + 1}}?fullName={{ full_name }}" class="disabled"><i
                        class="fa fa-arrow-right"
                        aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>

        <!-- modal window -->
        <div class="modal fade" id="addPatientModal" tabindex="-1"
            aria-labelledby="addPatientModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="addPatientModalLabel">Додати пацієнта</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="POST" action="/add">
                        <input type="hidden" name="csrf_token" id="hidden">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="fullNameInput"
                                    class="form-label">ПІБ</label>
                                <input type="text"
                                    name="fullName"
                                    class="form-control"
                                    id="fullNameInput"
                                    required>
                            </div>

                            <div class="mb-3">
                                <div class="teethContainer">
                                    <label for="teethInput"
                                        class="form-label">Зуби</label>
                                    <div>
                                        <a class="nav-link active"
                                            data-bs-toggle="modal"
                                            data-bs-target="#chooseTeethModal"
                                            aria-current="page"
                                            href="#">
                                            <i class="fa fa-list fa-2x"
                                                aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div>
                                        <input type="text"
                                            name="teeth"
                                            class="form-control"
                                            id="teethInput">
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="actionInput"
                                    class="form-label">Маніпуляції</label>
                                <textarea type="text"
                                    name="actions"
                                    class="form-control"
                                    id="actionInput"></textarea>
                            </div>
                            <div class="mb-3">
                                <select class="form-select"
                                    id="actionSelect"
                                    onchange="appendSelectedValueToInput('#actionInput', '#actionSelect')">
                                    <option selected>Вибрати
                                        маніпуляцію:</option>
                                    <option>Анестезія</option>
                                    <option>Вторинне ендо (ліки)</option>
                                    <option>Вторинне ендо
                                        (пломбування)</option>
                                    <option>Герметизація</option>
                                    <option>Кальцій</option>
                                    <option>Консультація</option>
                                    <option>Корекція реставрації</option>
                                    <option>Кофердам</option>
                                    <option>MTA</option>
                                    <option>Не прийшов</option>
                                    <option>Первинне ендо (ліки)</option>
                                    <option>Первинне ендо
                                        (пломбування)</option>
                                    <option>Препарування під коронку та
                                        зняття
                                        відбитків</option>
                                    <option>Професійна гігієна</option>
                                    <option>Реставрація зуба</option>
                                    <option>РТГ</option>
                                    <option>Скловолоконний штифт</option>
                                    <option>Фіксація м/к коронки</option>
                                    <option>Фіксація цирконієвої
                                        коронки</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="priceInput"
                                    class="form-label">Ціна</label>
                                <input type="number"
                                    name="price"
                                    step="0.01"
                                    class="form-control"
                                    id="priceInput">
                            </div>

                            <div class="mb-3">
                                <label for="commentInput"
                                    class="form-label">Коментар</label>
                                <input type="text"
                                    name="comment"
                                    class="form-control"
                                    id="commentInput">
                            </div>

                            <div class="mb-3">
                                <label for="languageInput"
                                    class="form-label">Мова</label>
                                <input type="text"
                                    name="language"
                                    list="languages"
                                    class="form-control"
                                    id="languageInput">
                                <datalist id="languages">
                                    {% for language in languages %}
                                    <option value="{{ language }}">
                                        {% endfor %}
                                    </datalist>
                                </div>

                                <div class="mb-3">
                                    <label for="dateInput"
                                        class="form-label">Дата</label>
                                    <input type="date"
                                        name="date"
                                        class="form-control"
                                        id="dateInput">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button"
                                    class="btn btn-outline-danger"
                                    data-bs-dismiss="modal">Закрити</button>
                                <button type="submit"
                                    class="btn btn-outline-dark">Зберегти</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- modal choose teeth window -->
            <div class="modal fade" id="chooseTeethModal" tabindex="-1"
                aria-labelledby="chooseTeethModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"
                                id="chooseTeethModalLabel">Вибрати зуби</h5>
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="mb-3">
                                <div class="upperTeethChart"></div>
                                <div class="lowerTeethChart"></div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-outline-dark"
                                    data-bs-dismiss="modal"
                                    aria-label="Save"
                                    onclick="saveTeeth()">Зберегти</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
            document.querySelector('#hidden').value = document.cookie.split('=')[1];
            document.querySelector('#dateInput').value = new Date().toISOString().split('T')[0];

            const upperTeeth = ['18', '17', '16', '15', '14', '13', '12', '11', 
                '21','22', '23', '24', '25', '26', '27', '28']
            const lowerTeeth = ['48', '47', '46', '45', '44', '43', '42', '41', 
                '31','32', '33', '34', '35', '36', '37', '38']
            for (let tooth of upperTeeth) {
                const div = document.createElement('div');
                const img = document.createElement('img');
                img.src = `/static/images/${tooth}.png`;
                img.id = tooth;
                img.alt = `tooth${tooth}`;
                div.setAttribute('onclick', 'chooseTooth(' + tooth + ')');
                div.appendChild(img);
                document.querySelector('.upperTeethChart').appendChild(div);
            }

            for (let tooth of lowerTeeth) {
                const div = document.createElement('div');
                const img = document.createElement('img');
                img.src = `/static/images/${tooth}.png`;
                img.id = tooth;
                img.alt = `tooth${tooth}`;
                div.setAttribute('onclick', 'chooseTooth(' + tooth + ')');
                div.appendChild(img);
                document.querySelector('.lowerTeethChart').appendChild(div);
            }
        </script>
        </body>
    </html>