<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dr.Office</title>
        <meta name="description" content>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            href="../static/bootstrap/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
        <link rel="stylesheet"
            href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/hover.css">
        <link rel="stylesheet" href="../static/css/common.css">
        <script
            src="../static/bootstrap/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <script src="../static/js/helper.js"></script>
    </head>
    <body>
        <form method="POST" action="/update/{{ patient['id'] }}">
            <input type="hidden" name="csrf_token" id="hidden">
            <div class="modal-body">
                <div class="modal-header">
                    <h5 class="modal-title">Оновити пацієнта</h5>
                </div>
                <div class="mb-3">
                    <label for="fullNameInput"
                        class="form-label">ПІБ</label>
                    <input type="text"
                        name="fullName"
                        class="form-control"
                        id="fullNameInput"
                        value="{{ patient['fullname'] }}"
                        required>
                </div>

                <div class="mb-3">
                    <div class="teethContainer">
                        <label for="teethInput"
                            class="form-label">Зуби</label>
                        <div>
                            <a class="nav-link active"
                                data-bs-toggle="modal"
                                data-bs-target="#chooseTeethModal"
                                aria-current="page"
                                href="#">
                                <i class="fa fa-list fa-2x"
                                    aria-hidden="true"></i>
                            </a>
                        </div>
                        <div>
                            <input type="text"
                                name="teeth"
                                class="form-control"
                                id="teethInput"
                                value="{{ patient['teeth'] }}">
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="actionInput"
                        class="form-label">Маніпуляції</label>
                    <textarea type="text"
                        name="actions"
                        class="form-control"
                        id="actionInput">{{ patient['actions'] }}</textarea>
                </div>
                <div class="mb-3">
                    <a
                        id="selectActionOptionsLink"
                        data-bs-toggle="modal"
                        data-bs-target="#selectActionOptions"
                        class="btn btn-outline-secondary" role="button"
                        href>Вибрати маніпуляцію</a>
                </div>

                <div class="mb-3">
                    <label for="priceInput"
                        class="form-label">Ціна</label>
                    <input type="number"
                        name="price"
                        step="0.01"
                        class="form-control"
                        id="priceInput"
                        value="{{ patient['price'] }}">
                </div>

                <div class="mb-3">
                    <label for="commentInput"
                        class="form-label">Коментар</label>
                    <input type="text"
                        name="comment"
                        class="form-control"
                        id="commentInput"
                        value="{{ patient['comment'] }}">
                </div>

                <div class="mb-3">
                    <label for="languageInput"
                        class="form-label">Мова</label>
                    <input type="text"
                        name="language"
                        list="languages" 
                        class="form-control"
                        id="languageInput"
                        value="{{ patient['language'] }}">
                    <datalist id="languages">
                        {% for language in languages %}
                            <option value="{{ language }}">
                        {% endfor %}
                    </datalist>
                </div>
                
                <div class="mb-3">
                    <label for="phoneInput"
                        class="form-label">Телефон</label>
                    <input type="text"
                        name="phone"
                        class="form-control"
                        id="phoneInput"
                        value="{{ patient['phone'] }}">
                </div>

                <div class="mb-3">
                    <label for="dateInput"
                        class="form-label">Дата</label>
                    <input type="date"
                        name="date"
                        class="form-control"
                        id="dateInput"
                        value="{{ patient['date'] }}">
                </div>

                <div class="modal-footer">
                    <a href="/" class="btn btn-secondary" role="button">На
                        головну</a>
                    <button type="submit"
                        id="savePatient"
                        class="btn btn-outline-dark">Зберегти</button>
                </div>
            </div>
        </form>

        <!-- modal choose teeth window -->
        <div class="modal fade" id="chooseTeethModal" tabindex="-1"
            aria-labelledby="chooseTeethModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="chooseTeethModalLabel">Вибрати зуби</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="mb-3">
                            <div class="upperTeethChart"></div>
                            <div class="lowerTeethChart"></div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-dark"
                                data-bs-dismiss="modal"
                                aria-label="Save"
                                onclick="saveTeeth()">Зберегти</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal select action options -->
        <div class="modal fade" id="selectActionOptions" tabindex="-1"
            aria-labelledby="selectActionOptionsLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"
                            id="selectActionOptionsLabel">Вибрати
                            маніпуляцію</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <ul class="list-group">
                        {% for action in actions %}
                            <li class="list-group-item"
                                data-chosen="0"
                                onclick="chooseAction(this)">{{ action }}</li>
                        {% endfor %}
                    </ul>
                    <div class="modal-footer">
                        <button class="btn btn-outline-dark"
                            id="saveActionOptionsButton"
                            data-bs-dismiss="modal"
                            onclick="appendActionOptionsToInput()"
                            aria-label="Save">Зберегти</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.querySelector('#hidden').value = document.cookie.split('=')[1];

            const upperTeeth = ['18', '17', '16', '15', '14', '13', '12', '11', 
                '21','22', '23', '24', '25', '26', '27', '28']
            const lowerTeeth = ['48', '47', '46', '45', '44', '43', '42', '41', 
                '31','32', '33', '34', '35', '36', '37', '38']
            for (let tooth of upperTeeth) {
                const div = document.createElement('div');
                const img = document.createElement('img');
                img.src = `../static/images/${tooth}.png`;
                img.id = tooth;
                img.alt = `tooth${tooth}`;
                div.setAttribute('onclick', 'chooseTooth(' + tooth + ')');
                div.appendChild(img);
                document.querySelector('.upperTeethChart').appendChild(div);
            }

            for (let tooth of lowerTeeth) {
                const div = document.createElement('div');
                const img = document.createElement('img');
                img.src = `../static/images/${tooth}.png`;
                img.id = tooth;
                img.alt = `tooth${tooth}`;
                div.setAttribute('onclick', 'chooseTooth(' + tooth + ')');
                div.appendChild(img);
                document.querySelector('.lowerTeethChart').appendChild(div);
            }
        </script>
    </body>
</html>